header.header(id='header')
  nav.navbar.navbar-expand-lg.navbar-light.nav
    .container
      a.navbar-brand.logo(href='/', id='logo') Your Trip
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.menu
        ul.navbar-nav.ml-auto
          li.nav-item
            a#eta.nav-link(href='/travel', class=(ruta === '/travel' ? 'active' : '')) Travel
          li.nav-item
            a#eta.nav-link(href='/testimonial', class=(ruta === '/testimonial' ? 'active' : '')) Testimonials
