@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
html{
    scroll-behavior: smooth;
}
header{
    left: 0;
    right: 0;
    position: absolute;
}
nav .container .logo{
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
}
nav .container .logo:hover{
    color: #FFF;
}
div ul li #eta{
    font-size: 1.1rem; 
    margin-right: 20px;
    color: #FFF;
}
nav ul li a.active{
    font-weight: 700;
}
section > h2{
    color: #36B33C;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 6rem;
    margin: 90px 0px 50px 0px;
}
section .fondo{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
section .fondo .title{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Kaushan Script', cursive;
}
section .fondo .title h1{
    font-size: 6rem;
}
section .fondo .title > h2{
    font-size: 4rem;
}
section .about{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
section .about .about-text{
    width: 40%;
}
section .about .about-image{
    width: 35%;
    margin-left: 50px;
}
section .about .about-image img{
    width: 100%;
    height: 385px;
    border-radius: 5px;
    box-shadow: 0px 0px 60px -23px rgba(0,0,0,0.75);
}
section .next{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section .next-content{
    width: 20%;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 30px;
    transition: all .5s ease;
}
section .next-content:hover{
    box-shadow: 0px 0px 60px -23px rgba(0,0,0,0.75);
}
section .next-content img{
    width: 100%;
    height: 200px;
}
section .next-content h5{
    font-weight: 700;
}
section .next-content p{
    font-size: .9rem;
}
section .next-content p>i{
    color: #36B33C;
    margin-right: 10px;
}
section .next-content a{
    display: block;
    background-color: #e83565;
    color: #FFF;
    transition: all .5s;
}
section .next-content a:hover{
    color: #FFF;
    background-color: #e02657;
}
section .next-content .price{
    display: flex;
    justify-content: flex-end;
}
section .next-content .price .span1{
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 700;
}
section .next-content .price .span2{
    font-size: 2.1rem;
    font-weight: 300;
}
section .test{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
section .test .testimonials{
    width: 20%;
    margin-left: 30px;
    padding: 10px;
    transition: all .5s ease;
    border-radius: 5px;
}
section .test .testimonials:hover{
    box-shadow: 0px 0px 60px -23px rgba(0,0,0,0.75);
}
section .test .testimonials p{
    opacity: .8;
}
section .test .testimonials i{
    vertical-align: top;
    font-size: .7rem;
    padding-right: 5px;
}
section .test .testimonials i:nth-child(2){
    vertical-align: bottom;
    font-size: .7rem;
    padding-left: 5px;
}
section .test .testimonials h6{
    font-weight: 700;
    float: right;
    color: #e83565;
}
.footer{
    padding: 10px;
}
.footer h3{
    font-size: 4rem;
    font-family: 'Kaushan Script', cursive;
}
.footer h5{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
}
.footer i{
    font-size: 1.5rem;
    padding: 10px;
}
@media only screen and (max-width: 768px){
    h2{
        font-size: 3rem;
    }
    header{
        background-color: #FFF;
    }
    nav .container .logo{
        color: #18871d;
    }
    div ul li #eta{
        font-size: 1rem; 
        color: #18871d;
    }
    section > h2{
        font-size: 4rem;
    }
    section .fondo .title h1{
        font-size: 5rem;
    }
    section .fondo .title h2{
        font-size: 4rem;
    }
    section .about{
        justify-content: space-around;
    }
    section .about .about-text{
        width: 60%;
    }
    section .about .about-image{
        width: 39%;
        margin-left: 0px;
    }
    section .about .about-image img{
        width: 100%;
        height: 430px;
    }
    section .next{
        padding: 16px;
    }
    section .next-content{
        width: 33%;
        border-radius: 5px;
        margin-left: 2px;
    }
    section .test{
        justify-content: center;
        flex-wrap: wrap;
    }
    section .test .testimonials{
        width: 90%;
        margin: 0px 0px 15px 0px;
        padding: 10px;
    }
}
@media only screen and (max-width: 480px){
    .navbar{
        padding: 0 16px;
    }
    section .fondo .title h1{
        font-size: 4rem;
    }
    section .fondo .title h2{
        font-size: 3rem;
    }
    section .about .about-text{
        width: 100%;
        padding: 20px;
    }
    section .about .about-image{
        display: none;
    }
    section .next{
        padding: 20px;
    }
    section .next-content{
        width: 70%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 320px){
    section > h2{
        font-size: 3rem;
    }
    section .title{
        text-align: center;
    }
    section .title h1{
        font-size: 1rem;
    }
    section .next{
        padding: 20px;
    }
    section .next-content{
        width: 100%;
    }
}
/* travel */
.header{
    left: 0;
    right: 0;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
}
.navbar{
    padding: 0 16px;
}
.nav .container .logo{
    color: #36B33C;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
}
.nav .container .logo:hover{
    color: #36B33C;
}
.nav div ul li #eta{
    font-size: 1.1rem; 
    margin-right: 20px;
    color: #36B33C;
}
.nav ul li a.active{
    font-weight: 700;
}
section .travel{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section .travel-content{
    width: 20%;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 30px;
    transition: all .5s ease;
}
section .travel-content img{
    width: 100%;
    height: 200px;
}
section .travel-content h5{
    font-weight: 700;
}
section .travel-content p{
    font-size: .9rem;
}
section .travel-content p>i{
    color: #36B33C;
    margin-right: 10px;
}
section .travel-content a{
    display: block;
    background-color: #e83565;
    color: #FFF;
    transition: all .5s;
}
section .travel-content a:hover{
    color: #FFF;
    background-color: #e02657;
}
section .travel-content .price{
    display: flex;
    justify-content: flex-end;
}
section .travel-content .price .span1{
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 700;
}
section .travel-content .price .span2{
    font-size: 2.1rem;
    font-weight: 300;
}
/* testimonio */
section form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 60px -23px rgba(0,0,0,0.45);
}
section form .send{
    background-color: #e83565;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 150px;
}
section form .send:hover{
    background-color: #e02657;
}
@media only screen and (max-width: 768px){
    section form{
        width: 80%;
    }
}
@media only screen and (max-width: 480px){
    section form{
        width: 95%;
    }
}
section .content{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
section .content .content-image{
    width: 45%;
}
section .content .content-image img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 60px -23px rgba(0,0,0,0.45);
}
section .content .content-text{
    width: 55%;
    padding: 0px 20px;
}
section .content .content-text h2{
    font-family: 'Kaushan Script', cursive;
    color: #36B33C;
    font-size: 2.7rem;
}
section .content .content-text > p:nth-child(4){
    opacity: .8;
}
section .content .content-text > p > i{
    color: #36B33C;
    margin-right: 8px;
}