extends ../layout/index
block contenido
  main
    section.container
        .content
            .content-image
                img(src=`/img/${viaje.imagen}.jpg`, alt='')
            .content-text
                h2 #{viaje.titulo}
                p
                  i.far.fa-calendar-alt
                  | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
                p
                  i.fas.fa-users
                  |  #{viaje.disponibles} disponible
                p
                  | #{viaje.descripcion}
