extends ../layout/index
block contenido
  main
    section
        h2=pagina
        include ../layout/partials/testimonials
        
    section.container
        if(errores)
            each error in errores
                .alert.alert-danger.text-center.text-white=error.name
                .alert.alert-danger.text-center.text-white=error.email
                .alert.alert-danger.text-center.text-white=error.messaje
            
        form(action='/testimonial', method="POST")
            .form-group
                label(for='name') Name
                input#nombre.form-control(type='text', name='name', value=name)
            .form-group
                label(for='email') Email
                input#email.form-control(type='email', name='email', value=email)
            .form-group
                label(for='messaje') Messaje
                textarea#mensaje.form-control(rows='3', name='messaje')=messaje
            .send
                input.btn.text-white(type="submit", value="Send")
