.test                
    each testimonials in testimonial
        .testimonials
            p
                i.fas.fa-quote-left
                | #{testimonials.messaje}
                i.fas.fa-quote-right
                h6 #{testimonials.name}