.next
  each viaje in viajes
    .card.next-content
        img(src=`/img/${viaje.imagen}.jpg`, alt='')
        .card-body
            h5.card-title #{viaje.titulo}
            p.card-text
                | #{viaje.descripcion.substr(0,100)}
            p
                i.fas.fa-users
                |  #{viaje.disponibles} disponible
            p
                i.far.fa-calendar-alt
                | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
            .price
                span.span1 $
                span.span2 #{viaje.precio}
            a(href=`travel/${viaje.id}`, class="btn") More information
