doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
    title #{titulo} | #{pagina}
  body
    header(id='')
      nav.navbar.navbar-expand-lg.navbar-light
        .container
          a.navbar-brand.logo(href='#') Your Trip
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse.menu
            ul.navbar-nav.ml-auto
              li.nav-item
                a#eta.nav-link(href='#about') About
              li.nav-item
                a#eta.nav-link(href='/travel') Travel
              li.nav-item
                a#eta.nav-link(href='/testimonial') Testimonials
    main
      section
        .fondo
          .container
            .title
              h1 Travels the world
              h2 Right now
      section#about
        h2 About
        .about.container
          .about-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quibusdam earum aut molestias dolorem aliquam exercitationem, omnis debitis nihil sint excepturi! Excepturi nihil omnis beatae! Itaque, eum similique. Saepe, recusandae.
            | Et tempora quis blanditiis, ratione voluptatum recusandae cumque animi ducimus laudantium nulla aut, laborum vitae voluptate dolorum accusantium sit totam, eaque culpa optio eveniet similique. Sint maxime corporis temporibus! Totam.
            | Eligendi recusandae, rem architecto labore iusto tenetur deleniti! Explicabo, molestiae! Obcaecati sequi voluptas fuga quasi blanditiis, earum quae nam quis voluptatem aperiam? Voluptas eos excepturi quod in nostrum facilis nobis.
            | Nulla sint magnam rerum officia labore eum corporis mollitia, consequuntur nostrum ipsumlore corporis incidunt voluptatibus, ab voluptatem molestiae eos dignissimos assumenda id asperiores deserunt ea soluta minima cupiditate
          .about-image
            img(src='/img/about-image.jpg', alt='')
      section
        h2 Next trips
        include ../layout/partials/travels

      section
        h2 Testimonials
        include ../layout/partials/testimonials
    footer
      .contianer
        .footer.bg-dark.text-white.text-center
          h3 Your Trip
          h5 Salvatierra
          h6 @2020
          i.fab.fa-gitlab
          i.fab.fa-twitter
          i.fab.fa-facebook-f
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/59e01b872d.js', crossorigin='anonymous')
